.content-title{
    color: black;
    font-size: 22px;
    font-weight: 700;
    margin: 1.5rem 0px;
}
.groupContainer{
    background-color: #f0f0f0;
    height: 400px;
    overflow: scroll;
    padding: 20px;
    font-size: smaller;
}
.sectionContainer {
    background-color: #fff;
    padding: 15px;
    overflow: hidden;
    border-radius: 10px;
    color: black;
    width: 100%;

}
.table-container {
    width: 100%;
    overflow-x: scroll;
}