body {
    background-color: #343a40;
    color: #ffffff;
  }
  
  .navbar,
  .sidebar {
    background-color: #000000;
  }
  
  .content {
    background-color: #6c757d;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    min-height: 100vh;
  }
  
  .sidebar a,
  .sidebar .dropdown-menu a {
    color: #ffffff;
  }
  
  .sidebar .dropdown-menu {
    background-color: #343a40;
  }
  
  .sidebar .dropdown-menu a:hover {
    background-color: #495057;
  }
  
  .logo{
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid grey;
    color:#ffffff;
    margin-bottom: 10px;
  }

  .logo span{
    color:red;
  }

  .nav-item .nav-link{
    color: #fff;
    cursor: pointer;
  }