.content-title{
    color: black;
    font-size: 22px;
    font-weight: 700;
    margin: 1.5rem 0px;
}
.groupContainer{
    background-color: #f0f0f0;
    /* height: 100vh; */
    padding: 20px;
}
.sectionContainer {
    background-color: #fff;
    padding: 15px;
    overflow: hidden;
    border-radius: 10px;
    color: black;
}