<!-- dynamic-form.component.html -->
<div class="data-Definition-Container">
  <div class="container">
    <div class="row">
      <div class="col-12 content-title">Edit Record</div>
    </div>
    <div class="row bg-definitions">
      <div *ngIf="!isValid">
        <button
          *ngIf="currentLanguage == 'ar'"
          class="btn btn-primary my-2"
          (click)="switchLanguage('en')"
        >
          English
        </button>
        <button
          *ngIf="currentLanguage == 'en'"
          class="btn btn-primary my-2"
          (click)="switchLanguage('ar')"
        >
          Arabic
        </button>
      </div>
      <app-loader *ngIf="isLoading"></app-loader>
      @if (loadControls()) {
      <div *ngIf="!isLoading" class="col-12 py-3">
        <form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
          <div *ngFor="let field of formStructure" class="mb-3">
            <label
              *ngIf="field.type !== 'radio' || field.type !== 'select'"
              [for]="field.key"
              class="form-label"
              >{{ field.label }}</label
            >
            <input
              *ngIf="field.type === 'textfield'"
              type="text"
              class="form-control"
              [id]="field.key"
              [formControlName]="field.key"
              [required]="field?.validate?.required"
            />
            <input
              *ngIf="field.type === 'number'"
              type="number"
              class="form-control"
              [id]="field.key"
              [formControlName]="field.key"
              [value]="data[field.key]"
            />
            <input
              *ngIf="field.type === 'checkbox'"
              type="checkbox"
              [id]="field.key"
              [formControlName]="field.key"
              [value]="field?.value?.en_US"
            />
            <ng-container *ngIf="field.type == 'radio'">
              <div *ngFor="let op of field?.values">
                <label [for]="field?.key" class="form-label">{{
                  op?.label
                }}</label>
                <input
                  *ngIf="field.type === 'radio'"
                  type="radio"
                  [id]="field.key"
                  [formControlName]="field.key"
                  [value]="op?.value"
                />
              </div>
            </ng-container>

            <ng-container *ngIf="field.type === 'select'">
              <select
                class="form-control"
                [id]="field.key"
                [formControlName]="field.key"
              >
                <option *ngFor="let op of field.data.values" [value]="op.value">
                  {{ op.label }}
                </option>
              </select>
            </ng-container>

            <textarea
              *ngIf="field.type === 'textarea'"
              class="form-control"
              [id]="field.key"
              [formControlName]="field.key"
            ></textarea>

            <!-- Add more input types as needed -->
            <div
              *ngIf="
                dynamicForm.controls[field.key]?.invalid &&
                dynamicForm.controls[field.key]?.touched
              "
              class="text-danger"
            >
              <small
                *ngIf="dynamicForm.controls[field.key].errors?.['required']"
                >This field is required</small
              >
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="dynamicForm.invalid"
          >
            Submit
          </button>
        </form>
      </div>
    }
    </div>
  </div>
</div>
