<div class="data-Definition-Container">
    <div class="container">
        <div class="row">
            <div class="col-12 content-title">
                All Content Example
            </div>
        </div>
        <div class="row bg-definitions">
            <div class="col-lg-8 py-3">
                <div class="my-3">
                    <h3>{{data.GDPR?.inquiry?.activeSwitch}}</h3>
                    <p> {{data.GDPR?.inquiry?.alert }}</p>
                </div>
                <div class="my-3">
                    <h3>{{data.GDPR?.onBoarding?.btn}}</h3>
                    <p> {{data.GDPR?.onBoarding?.description}}</p>
                    <!--  -->
                </div>

                <div class="my-3">
                    <h3>{{data?.mgm?.inquiry?.btn }}</h3>
                    <p> {{data?.mgm?.inquiry?.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>